@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.bullet::before {
  content: "•"; /* Unicode character for bullet */
  display: inline-block;
  width: 5px; /* Adjust size as needed */
  text-align: center;
  margin-right: 2px; /* Adjust spacing as needed */
  color: #cbd5e1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
